<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Matrix Sign</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/minstyle.io@2.0.1/dist/css/minstyle.io.min.css">

</head>
<body>
    <div class="container">
        <div class="ms-display-flex ms-flex-direction-column ms-flex-justify-center ms-flex-align-content-center">
                <div class="ms-text-center">
                    <img src="{{url_for('static', filename='stage.gif')}}" alt="" style="height: 100px; width: auto">
                </div>
        </div>
    </div>
<div class="container">
    <h2>Default Messages</h2>
    <form action="/messages" method="POST">
        <select name="message">
            {% for message in default_messages %}
                <option value="{{message[1]}}">{{message[1]}}</option>
            {% endfor %}
        </select>
        <button type="submit">Send Message</button>
    </form>

</div>

<div class="container">
    <h2>Messages</h2>
 {% for message in message_queue %}
    <div style="color: {{message[2]}}">
        {{message[1]}}
    </div>
 {% endfor %}
</div>

<div class="message container">
<h2>Send a Message</h2>
    <form action="/messages" method="POST">
        <label><input name="message" placeholder="enter your message"></label>
        <select name="multiline">
            <option value="single" default>Single</option>
            <option value="multiline">Multiline</option>
        </select>
        <select name="scrolltype">
            <option value="scroll" default>Scroll</option>
            <option value="static">Static</option>
        </select>
        <button type="submit">Send Message</button>
    </form>
</div>


<script>
    document.addEventListener('DOMContentLoaded', ()=>{
        let forms = document.querySelectorAll("form");
        forms.forEach(element => {
            element.addEventListener("submit", e=>{
                e.preventDefault();
                let formData = new FormData(e.target);
                fetch("/messages",
                    {
                        body: formData,
                        method: "post"
                    }).then(r=>r.json())
                    .then(d=>{
                        console.log(d)
                        window.location.reload();
                    });

            })
        });
    })
</script>

<!-- <button class="ms-primary">test</button> -->
</body>
</html>
