<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Matrix Sign</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/minstyle.io@2.0.1/dist/css/minstyle.io.min.css">

</head>
<body>
<div>
    <h2>Default Messages</h2>
    <form action="/messages" method="POST">
        <select name="message">
            {% for message in default_messages %}
                <option value="{{message[1]}}">{{message[1]}}</option>
            {% endfor %}
        </select>
        <button type="submit">Send Message</button>
    </form>

</div>

<div>
    <h2>Messages</h2>
 {% for message in message_queue %}
    <div style="color: {{message[2]}}">
        {{message[1]}}
    </div>
 {% endfor %}
</div>

<div class="message">
<h2>Send a Message</h2>
    <form action="/messages" method="POST">
        <label><input name="message"></label>
        <button type="submit">Send Message</button>
    </form>
</div>
<!-- <img src="{{url_for('static', filename='images/hide.gif')}}" alt=""> -->
<!-- <button class="ms-primary">test</button> -->
</body>
</html>
